.dashboard-root-header {
  --max-height: var(--max-height-header);
  min-height: var(--max-height);
  max-height: var(--max-height);
}
.dashboard-root {
  --max-height: var(--max-height-no-header);
  min-height: var(--max-height);
  max-height: var(--max-height);
}
