.display-selectors {
  display: flex;
  align-items: center;
  padding: 0.4rem 0 0.4rem 2rem;
  border-bottom: 1px solid var(--color-black);
}
.control {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.label {
  font-weight: bold;
  padding-right: 0.5rem;
}

/* TODO Should be reworked in COOKS-110 */
.radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.download-btn {
  background-color: var(--global-color-accent--normal);
  border-color: var(--global-color-accent--alt);
  border-radius: 0;
}

.download-btn:hover {
  background-color: var(--global-color-accent--weak);
  border-color: var(--global-color-accent--weak);
}

.radio-container label {
  margin-bottom: 0;
  padding-right: 10px;
}

.radio-button {
  margin-right: 5px;
}
