.rmsc {
  --rmsc-h: var(--selector-constant-height) !important; /* Height */
  --rmsc-radius: 0 !important;
  width: 18rem;
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-normal);
}
.rmsc .dropdown-heading {
  --rmsc-h: var(--selector-constant-height); /* Height */
  font-style: italic;
}
.rmsc .dropdown-container .dropdown-content {
  z-index: 9999;
}
.rmsc .dropdown-content .panel-content {
  --rmsc-bgdd: var(--global-color-primary--dark) !important;
  color: var(--color-white) !important;
}
.rmsc .dropdown-container .dropdown-content .panel-content {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.rmsc .dropdown-container .dropdown-content * {
  color: var(--color-white);
  background: var(--color-gray-very-dark);
}
.dropdown-heading-value {
  color: var(--global-color-accent--normal);
}
.rmsc .dropdown-content .panel-content .select-item {
  height: var(--selector-constant-height);
}
/* This will hide the weird highlighting in the component. */
.rmsc .dropdown-content .panel-content .select-item,
.rmsc .dropdown-content .panel-content .select-item .label,
.rmsc .dropdown-content .panel-content *:hover {
  background-color: var(--color-gray-very-dark) !important;
}
