.plot-caption, .plot-caption * {
    font-family: var(--font-type-roboto-condensed);
    font-size: var(--font-size-xs);
    margin-bottom: 1.5rem;
    font-weight: var(--font-weight-light);
  }
 .plot-caption {
    margin-left: 3rem;
    margin-right: 3rem;
 } 
 .caption-label {
    font-style: italic;
    font-weight: var(--font-weight-normal-plus);
 }
 .caption-text-bold {
    font-weight: bold;
 }