.annotation,
.annotation * {
  font-family: var(--font-type-roboto-condensed);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-light);
}
.chart-annotation {
  margin: 0 2.5vw 2vh;
}
.table-annotation {
  margin: 0.8vh 2.5vw 0.5vh;
}
.annotation-label {
  font-style: italic;
  font-weight: var(--font-weight-normal-plus);
}
.annotation-text-bold {
  font-weight: var(--font-weight-normal-plus);
}
