/* MAIN CHART */
.main-chart{

  }
.main-chart-title {
    min-height: 3vh;
    margin: 0.5vh 1vw;
    display: flex;
    border-bottom: 1px solid var(--color-gray-very-dark);
    font-size: calc(var(--font-size-normal) * 1.3);
    font-weight: var(--font-weight-heavy);
    text-align: center;
  }
.main-chart-title-text {
    display:inline;
    width: 100%;

}