.feature-table * {
  font-family: var(--font-type-roboto-condensed);
  font-size: var(--font-size-xs);
  margin: 0.8vh 1vw 0.5vh;
}
sup {
  font-style: italic;
  font-weight: var(--font-weight-heavy);
  color: var(--color-skyblue);
}
.feature-table-chart,
.feature-table-chart-selection {
  font-weight: var(--font-weight-normal-plus);
}
.feature-table-chart {
  margin: 1vh 1vw 3.7vh;
}
.feature-table-chart-selection {
  margin: 1vh 1vw;
}
.feature-table-chart-title {
  font-size: 1.2rem;
}
.feature-table-chart-subtitle {
  margin: 0 0 0 0.5vw;
  font-style: oblique;
  color: var(--color-gray);
}
.feature-table-selected-feature td {
  background-color: var(--color-cornflower-blue);
  color: var(--color-white);
}
.feature-table-selected-feature td.ensemble-rank-value {
  background-color: var(--color-purple) !important;
  color: var(--color-gold);
}
.feature-table-chart tr th,
.feature-table-chart tr td,
.feature-table-chart-selection tr th,
.feature-table-chart-selection tr td {
  border-bottom: 1px solid var(--color-black);
  padding: 0.5vh 0.2vw;
  text-align: center;
}
.feature-table-chart-selection tr:nth-child(odd),
.feature-table-chart tr:nth-child(odd) {
  background-color: var(--color-gray-very-light);
}
.feature-table-chart-selection tr th,
.feature-table-chart tr th {
  font-size: var(--font-size-sm);
  line-height: 2vh;
  background-color: var(--color-gray-very-dark);
  color: var(--color-white);
}
.feature-table-chart-selection tr th.ensemble-rank-label,
.feature-table-chart tr th.ensemble-rank-label {
  color: var(--color-violet) !important;
}
.feature-table-chart-selection tr td.ensemble-rank-value,
.feature-table-chart tr td.ensemble-rank-value {
  background-color: var(--color-violet-transparent);
  border-left: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
}
.feature-table-chart-selection tr td:first-child,
.feature-table-chart tr td:first-child {
  padding-left: 2vw;
  text-align: left;
}

.feature-table-chart-label {
  width: 20%;
}

.feature-table-chart-cell {
  width: 5%;
}
.feature-table-info * {
  font-weight: var(--font-weight-light);
}
.feature-table-info,
.feature-table-information {
  margin: 1vh 1vw;
}
.feature-table-info {
  margin-top: 1vh;
  border: 1px solid var(--color-black);
}
.feature-table-annotation {
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-light);
  margin-left: 1.5rem;
  margin-right: 1.5rem;

}
.feature-table-annotation-prefix,
.feature-table-annotation-text {
  font-size: var(--font-size-xxs);
  margin: 0;
}
.feature-table-annotation-prefix {
  font-weight: var(--font-weight-normal-plus);
  font-style: italic;
}
